.custom-testimo input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
 .custom-testimo input[type=submit] {
    background-color: #c7ad76;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 5px;
  }
  
 .custom-testimo input[type=submit]:hover {
    background-color: #4557a0;
  }
  
 .custom-testimo .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .grid-container {
    max-width: 90% !important;
    display: grid !important;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 25% 25% 25% 25% !important;
    padding: 10px !important;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #testi_mod_tittle ,.grid-container h5,.grid-container h6{
    display: block;
    margin: 5px auto;
    text-align: center;
  }